&-table-btp {
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 40px);
        padding: 20px;
    }

    &-status {
        display: flex;
        gap: 2px;
    }

    &-page-switcher {
        display: flex;
        gap: 10px;
    }

    &-numbered-switcher {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &-RPP-container {
        display: flex;
    }
}
